<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css" />
<link rel="stylesheet" href="/css/product.css" />
</head>

<body>
<%- include('../includes/navigation.ejs') %>

<main>
  <form
    class="reading-form"
    action="/admin/add-theme"
    method="POST"
  >
  <div class="form-control">
    <label for="theme">Theme</label>
    <input
      type="text"
      name="theme"
      id="theme"
    />
  </div>
  <div class="form-control">
    <label for="category">Category</label>
    <select type="text" name="category" id="category">
        <option value="historical">Historical</option>
        <option value="prophetical">Prophetical</option>
        <option value="epistle">Epistle</option>
        <option value="gospel">Gospel</option>
    </select>
  </div>
    <div class="form-control">
      <label for="words">Reading</label>
      <input
        type="text"
        name="words"
        id="words"
      />
    </div>
    
    
    <button class="btn" type="submit">Add Reading</button>
  </form>
</main>
<%- include('../includes/end.ejs') %>
</body>
