
<footer>
    <p>Copyright &copy; </p>
    <p class="footer-text"></p>
    <a href="https://melnerdz.com/" target="_blank">melnerdz.com | All Rights Reserved</a>
</footer>

<script nonce="<%= nonce2%>" src="/js/main.js"></script>
<script nonce="<%= nonce9%>" src="/js/footer.js"></script>
<script nonce="<%= nonce11%>" src="https://kit.fontawesome.com/372429fb46.js" crossorigin="anonymous"></script>

</body>
</html>