footer {
  background-color: var(--primary-color);
  color: var(--fourth-color);
  text-align: center;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 5px 0;
}

footer a {
  color: var(--secondary-color);
  text-decoration: none;
}

footer a:hover {
  color: var(--third-color);
  text-decoration: underline;
}

.footer-text {
  font-style: italic;
}