.card-form {
  border: 0.4rem solid #f8f9fa;
  max-width: 400px; /* Set a maximum width for the card */
  margin: 1rem auto;
  padding: 1rem;
}

.card-form h1 {
  text-align: center;
}

.form-header {
  text-align: center;
}

.form-control {
  margin-bottom: 0;
}

.form-control a,
.form-control button {
  width: 100%;
}

.form-control label,
.form-control input,
.form-control textarea,
.form-control select {
  display: block;
  margin-bottom: 0.25rem;
  width: 100%;
}

.form-control input,
.form-control textarea {
  padding: 0.7rem;
  border: 1px solid #ccc;
  background-color: #ebebeb;
  border-radius: 6px;
}

.form-control input,
.form-control select {
  font: inherit;
  border-radius: 6px;
}

.form-control input:focus,
.form-control select:focus {
  outline-color: var(--primary-color);
}

.form-control input.invalid {
  border-color: red;
}

.card-form .btn-signup {
  width: 100%;
}

.themes-control {
  display: flex;
  flex-direction: column;
}
