

.highlight-letter {
  color: var(--secondary-color);
}

.main-header {
  width: 100%;
  height: 7rem;
  background-color: var(--primary-color);
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.6rem;

  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
}

.main-header__nav {
  height: 100%;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: space-between;
}

.main-header__item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.main-header__item {
  margin: 0 1rem;
  padding: 0;
}

/* desktop dropdown*/

.username-container {
  color: white;
  padding: 4px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: border color 0.4s;
  position: relative;
}

.username-container:hover {
  border: 1px solid white;
  color: var(--secondary-color);
}

.username-container:active {
  border: 1px solid white;
  color: var(--secondary-color);
}

.user-icon-container {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid white;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-icon-container img {
  width: 80%;
}

.dropdown-content {
  display: none;
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 250px;
  position: absolute;
  border-radius: 8px;
  top: 40px;
  left: -150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  /* padding: 0.8 1rem; */
  z-index: 2;
  background-color: var(--fourth-color);
  overflow: hidden;
}

.show {
  display: flex;
}

.dropdown-content li {
  color: black;
  list-style: none;
  width: 100%;
  padding: 0.6rem;
  margin: 0;
}

.dropdown-content li a,
.dropdown-content li form button {
  color: black;
  display: block; /* Make the <a> element a block-level element */
  width: 100%; /* Occupy 100% width of the parent <li> */
  text-decoration: none; /* Remove underline on links */
  padding: 10px; /* Add padding to control the spacing inside the <a> */
}

.dropdown-content li:hover,
.dropdown-content li:hover a,
.dropdown-content li:hover form button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.dropdown-content li:active,
.dropdown-content li:active a,
.dropdown-content li:active form button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.dropdown-content li:last-child {
  border-top: 1px solid rgb(224, 224, 224);
  width: 100%;
}

/*mobile dropdown*/

.mobile-username-container {
  color: black;
  /* padding: 4px;
  border-radius: 5px; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  transition: border color 0.4s;
  position: relative;
}

.mobile-dropbtn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 5px;
  width: 100%;
}

.mobile-dropbtn:hover {
  color: white;
}

.mobile-dropbtn:active {
  color: white;
}

.mobile-username-container:hover .mobile-user-icon-container {
  background-color: var(--primary-color);
  border: 1px solid white;
}

.mobile-username-container:active .mobile-user-icon-container {
  background-color: var(--primary-color);
  border: 1px solid white;
}

.mobile-user-icon-container {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
}

.mobile-username-container:hover {
  background-color: var(--primary-color);
  color: var(--primary-font-color);
}

.mobile-username-container:active {
  background-color: var(--primary-color);
  color: var(--primary-font-color);
}

.mobile-user-icon-container img {
  width: 80%;
}

.mobile-dropdown-content {
  margin-top: 1rem;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
}

.show {
  display: flex;
}

.mobile-dropdown-content li {
  list-style: none;
  width: 100%;
  margin: 0;
  /* display: flex;
  justify-content: flex-start; */
  text-align: left;
}

.mobile-dropdown-content li a,
.mobile-dropdown-content li form button {
  display: block; /* Make the <a> element a block-level element */
  width: 100%; /* Occupy 100% width of the parent <li> */
  text-decoration: none; /* Remove underline on links */
  padding: 1rem 2rem;
}

.mobile-dropdown-content li:hover,
.mobile-dropdown-content li:hover a,
.mobile-dropdown-content li:hover form button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.mobile-dropdown-content li:active,
.mobile-dropdown-content li:active a,
.mobile-dropdown-content li:active form button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

/* .mobile-dropdown-content li:last-child {
  border-top: 1px solid rgb(224, 224, 224);
  width: 100%;
} */

.main-header__item a,
.main-header__item button {
  font: inherit;
  background: transparent;
  border: none;
  text-decoration: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: color 0.5s;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active,
.main-header__item button:hover,
.main-header__item button:active {
  color: var(--secondary-color);
}

.mobile-nav {
  padding-bottom: 7rem;
  width: 30rem;
  max-width: 70%;
  position: fixed;
  right: 0;
  top: 7rem;
  bottom: 0;
  background: var(--primary-color);
  z-index: 98;
  transform: translateX(100%);
  transition: transform 0.3s ease-out;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.mobile-nav.open {
  transform: translateX(0);
}

.mobile-nav__item-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  
  margin: 0;
  padding: 0;
  /* border-top: 1px solid white;
  border-bottom: 1px solid white; */
}

.mobile-nav__item {
  padding: 1rem 2rem;
  margin: 0;
  border-bottom: 1px solid var(--secondary-color);
}

/* .mobile-nav__item:first-child {
  border-top: 1px solid var(--secondary-color);
} */

.mobile-nav__item a,
.mobile-nav__item button {
  font: inherit;
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
}

.mobile-nav__item a:active,
.mobile-nav__item a:hover,
.mobile-nav__item a.active {
  background: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 3px;
}

.mobile-nav form {
  display: flex;
  justify-content: center;
}

.mobile-nav .logout-btn {
  border: none;
  color: white;
  background-color: var(--primary-color);
  width: 70%;
  font-size: 1.5rem;
  cursor: pointer;
}

.mobile-nav .logout-btn:hover {
  color: var(--secondary-color);
}

#side-menu-toggle {
  border: 1px solid white;
  border-radius: 1.2rem;
  font: inherit;
  padding: 0.3rem 0.5rem;
  display: block;
  background: transparent;
  color: white;
  cursor: pointer;
}

#side-menu-toggle:focus {
  outline: none;
}

#side-menu-toggle:active,
#side-menu-toggle:hover {
  color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  display: none;
}

@media (min-width: 768.1px) {

  .main-header__nav {
    display: flex;
  }

  #side-menu-toggle {
    display: none;
  }

  .user-message {
    width: 50%;
  }
}

@media (max-width: 768px) {

  .user-message {
    width: 80%;
  }
}

