@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

/* CSS variable definition */
:root {
  --primary-color: rgb(44, 114, 89);
  --secondary-color: #f5eca1fb;
  --third-color: rgb(156, 156, 156);
  --fourth-color: rgb(240, 240, 240);
  --danger-color: red;
  --vote-count-color: red;
  --primary-font-color: rgb(228, 223, 223);
  --secondary-font-color: rgb(48, 46, 46);
  --background-color: rgb(58, 51, 51);
  --bg-color-reading: rgb(237, 239, 250);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: var(--secondary-font-color);
}

main {
  padding: 1rem;
  margin: auto;
}

h1 {
  text-align: center;
}

form {
  display: inline;
}

.centered {
  text-align: center;
}

.image {
  height: 20rem;
}

li {
  margin: 0.85rem;
}

.image img {
  height: 100%;
}

.main-header {
  width: 100%;
  height: 4rem;
  background-color: var(--primary-color);
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
}

.main-header__nav {
  height: 100%;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: space-between;
}

.main-header__item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.main-header__item {
  margin: 0 1rem;
  padding: 0;
}

.username {
  color: white;
}

.main-header__item a,
.main-header__item button {
  font: inherit;
  background: transparent;
  border: none;
  text-decoration: none;
  color: white;
  cursor: pointer;
  transition: color 0.5s;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active,
.main-header__item button:hover,
.main-header__item button:active {
  color: var(--secondary-color);
}

.mobile-nav {
  width: 30rem;
  height: 100vh;
  max-width: 90%;
  position: fixed;
  left: 0;
  top: 0;
  background: white;
  z-index: 10;
  padding: 2rem 1rem 1rem 2rem;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.mobile-nav.open {
  transform: translateX(0);
}

.mobile-nav__item-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.mobile-nav__item {
  margin: 1rem;
  padding: 0;
}

.mobile-nav__item a,
.mobile-nav__item button {
  font: inherit;
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
}

.mobile-nav__item a:active,
.mobile-nav__item a:hover,
.mobile-nav__item a.active {
  background: var(--primary-color);
  color: white;
  border-radius: 3px;
}

#side-menu-toggle {
  border: 1px solid white;
  font: inherit;
  padding: 0.5rem;
  display: block;
  background: transparent;
  color: white;
  cursor: pointer;
}

#side-menu-toggle:focus {
  outline: none;
}

#side-menu-toggle:active,
#side-menu-toggle:hover {
  color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  display: none;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.card-header,
.card-content {
  padding: 1rem;
}

.card-header h1,
.card-content h1,
.card-content h2,
.card-content p {
  margin: 0;
}

.card-image {
  width: 100%;
}

.card-image img {
  width: 100%;
}

.card-actions {
  padding: 1rem;
  text-align: center;
}

.card-actions button {
  margin: 0 0.25rem;
}

.btn {
  display: inline-block;
  padding: 0.25rem 1rem;
  text-decoration: none;
  font: inherit;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background: white;
  border-radius: 3px;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: var(--primary-color);
  color: white;
}

.btn.danger {
  color: var(--danger-color);
  border-color: var(--danger-color);
}

.btn.danger:hover,
.btn.danger:active {
  background: var(--danger-color);
  color: white;
}

.cancel {
  background-color: red;
  color: white;
  margin-left: 0.5rem;
}

.cancel:hover,
.cancel:active {
  background-color: red;
  color: white;
}

.user-message {
  margin: auto;
  width: 90%;
  border: 1px solid #4771fa;
  padding: 0.5rem;
  border-radius: 3px;
  background: #b9c9ff;
  text-align: center;
}

.user-message--error {
  border-color: red;
  background: rgb(255, 176, 176);
  color: red;
}

.user-message--success {
  border-color: green;
  background: rgb(171, 204, 171);
  color: green;
}

#passcode-error {
  display: none;
}

.pagination {
  display: flex;
  justify-content: center;
  width: 50%;
  text-align: center;
  margin: 2rem auto 0 auto;
  padding: 1rem;
  border-radius: 1.5rem;
}

.pagination div {
  background-color: white;
  border: 1px solid var(--primary-color);
  width: 100px;

  text-decoration: none;
  margin: 0 0.6rem;
  padding: 0.8rem;
}

.pagination a {
  text-decoration: none;
}

.pagination div:hover,
.pagination div:active,
.pagination div.active {
  background-color: var(--primary-color);
  color: white;
}

.voted p {
  color: var(--vote-count-color);
}

/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid var(--primary-color);
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#scroll-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
  opacity: 0.7;
}

@media (min-width: 768px) {
  .main-header__nav {
    display: flex;
  }

  #side-menu-toggle {
    display: none;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 12px;
  }

  .username {
    color: black;
  }
}
