/* The Modal (background) */
.modal-backdrop {
  display: none;
  /* display: flex; */
  justify-content: center; /* Center horizontally */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
}

/* Modal Content/Box */
.modal-content {
  position: fixed;
  top: 15vh;
  /* left: 20%;
  right: 20%; */
  width: 50%;
  background-color: white;
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header h3 {
  color: red;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 1rem;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-content p {
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}

.modal-control {
  width: 100%;
  display: flex;
  justify-content: right;
  margin-top: 1rem;
}

.modal-control button:last-child {
  background-color: red;
  color: white;
  margin-left: 0.5rem;
}

.modal-control button:hover,
.modal-control button:focus {
  font-weight: bold;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .modal-content {
    width: 90%;
  }

  /* .modal-control {
    width: 60%;
  } */

  /* .modal-control button:first-child {
    margin-right: 0.7rem;
  } */
}
