.themes-header {
  text-align: center;
}

.themes-form {
  width: 20rem;
  max-width: 90%;
  margin: auto;
  display: block;
}

.theme-item {
  width: 20rem;
  max-width: 95%;
  margin: 1rem;
}

.theme-title {
  font-size: 1.2rem;
  text-align: center;
}

.theme-description {
  text-align: center;
}

#reset-votes-error {
  display: none;
}

#reset-votes-success {
  display: none;
}

.passcode-modal-backdrop {
  display: none;
  /* display: flex; */
  justify-content: center; /* Center horizontally */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.75);
}

.passcode-form-control {
  padding: 0.6rem;
}

.passcode-form-control {
  display: flex;
  flex-direction: column;
}

#passcode {
  border-radius: 0;
}
